@import "tailwindcss";

/* Css padrão do ambiente, voltado a estrutura da interface */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} /* Configuração global */




